.bg-mainColor {
  background: $mainColor;
  color: $btnTextColor;
}

.btn-round {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn-round:hover {
  color: $btnTextColor;
  -webkit-transform: scale(1.2); // 要素を拡大または縮小
  transform: scale(1.2);
}

/* ページネーション */
.pagination > li > a {
  border: none;
  color: $pageLinkColor;
  border-radius: 3px;
}

/* ページネーション 今見ているページ */
.page-item.active .page-link {
  background: $mainColor;
  transition-duration: 0.3s;
}

.page-item.active .page-link:hover {
  color: $btnTextColor;
  opacity: 0.6;
  transition-duration: 0.3s;
}
