<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-bland text-light" href="#">Bootstrap4移行ガイド</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="Navber">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "New", new_article_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>

      <%# <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          user名
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sign Out</a>
          <a class="dropdown-item" href="#">Sign In</a>
          <a class="dropdown-item" href="#">Sign Up</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">その他</a>
        </div>
      </li> %>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
      </li>
    </ul>
  </div>
</nav>